table{
    border-collapse: collapse;
    border: 1px solid grey;
    table-layout: fixed;
    margin: 10px;
}
td {
    border: 1px solid grey;
    height: 50px;
    width: 50px;
}


.black{
   background-color: black;
}